<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <title>Product Maintenance - Update</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand " href="/"> <img style="margin-left: 1rem;"" src="
                https://cdn.iconscout.com/icon/free/png-256/memo-pencil-write-paper-document-38853.png" width="40"
                height="32" class="" alt="Avatar">
            Product Maintenance</a>
    </nav>



    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8 mt-5">
                <h3 class="text-center">UPDATE PRODUCT</h3>
                <div class="col"></div>
                <p class="text-center">Entrer the new information to update the product with id: <strong>
                        <%=product.id %>
                    </strong></p>

                <form method="POST" action="/update/<%=product.id %>">
                    <div class="form-group">
                        <label>ID</label>
                        <input onchange="changeN()" type="text" class="form-control" name="id" id="id" disabled
                            value=<%=product.id %>>
                        <label>Name</label>

                        <input type="text" class="form-control form-group w-100" name="name" id="name"
                            aria-describedby="emailHelp" placeholder="Enter name" value=<%=product.name %>>
                        <label>Brand</label>

                        <input type="text" class="form-control form-group w-100" name="brand" id="brand"
                            aria-describedby="emailHelp" placeholder="Enter brand" value=<%=product.brand %>>
                        <label>Category</label>
                        <input type="text" class="form-control form-group w-100" name="category" id="category"
                            aria-describedby="emailHelp" placeholder="Enter category" value=<%=product.category %>>
                        <label>Price</label>
                        <input type="number" step='any' class="form-control form-group w-100" name="price" id="price"
                            aria-describedby="emailHelp" placeholder="Enter price" value=<%=product.price %>>
                        <label>Available</label>
                        <select class="form-control form-group w-100" name="available" id="available">
                            <option value="<%=product.available %>"> Available: <%=product.available %>
                            </option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>



                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" value="submit" class="btn btn-success">Update Product</button>
                    </div>
                </form>



            </div>
            <div class="col-md-2"></div>


        </div>
    </div>

</body>

</html>